@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #fbf9f9;
}

/* Custom scrollbar styling */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #c4c4c4 #edf2f7;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #edf2f7;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 10px;
  border: 2px solid #edf2f7;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #63b3ed;
}
